{%load static%}
<html>
    <head>
        <title>
            TechOps Online School Managemet Project
        </title>
        <link rel = "stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpCI2Uk9gS9gS9baD1411NQApFmC26EwAOH8WgZ15MYYxFfc+NcPb1dKGj7SK"
crossorigin="'anonymous">
    </head> 
    <body>
        {% include 'app/navbar.html' %}
        {% block content%}
        {% endblock %}

        <br>
        <script src="https: //code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-
Dfxdz2htPH01sSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
    <script>
